
//COLOR PALETTER

$red: #BB1A00;
$white: #ffffff;


//the static grid

$total-columns: 12;
$column-width: 60px;
$gutter-width: 10px;
$grid-padding: 10px;
$container-style: static;
$container-width: 940px;


//breakpoints

$tablet-portrait: 768px;	

html {
	background: white;
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {font-size: 33px;
	margin-bottom: 20px;
}
h2 {font-size: 18px;}
h3 {font-size: 14px;}
h4 {font-size: 12px;}
h5 {font-size: 10px;}
h6 {font-size: 8px;}

a {
	text-decoration: none;
	color: $white;
	
}


.wrapper {
	@include container;
	//@include susy-grid-background;
	padding-top: 10px;
}




.row {
	@include span-columns(12);
	min-height: 55px;
	
	> p {
		background-color: #f3f3f3;
		padding: 20px;
	}

	
	h2.leftcol {
		@include span-columns(2, 12);
		
		}
	
		
	}
	
	.rightcol {
		@include span-columns(10 omega, 12);
		
		
			
		li {
			@include float-left;
			margin-right: 8px;
			margin-bottom: 10px;
			display: inline-block;
			width: 19px;
			height: 45px;
			z-index: -2000;

				
		}
		
		div {
			
			&:hover {
					@include opacity(0.7);
				}
			
		}
		
		div.bafta {
			width: 100%;
			height: 100%;
			background: url(images/icons/bafta.png);
			
			
				&.win {
					background: url(images/icons/baftawin.png);
				}
			
			
			}
		
		div.goldenglobe {
			width: 100%;
			height: 100%;
			background: url(images/icons/goldenglobe.png);
			
				&.win {
				background: url(images/icons/goldenglobewin.png);
	
				}
			
			}
			
		div.oscar {
			width: 100%;
			height: 100%;
			background: url(images/icons/oscar.png);
			
				&.win {
				background: url(images/icons/oscarwin.png);
	
				}
			
			}
			
		
	}

	



@mixin awardkey($award) {
			background: $award;
			background-repeat: no-repeat;
			background-position: left center;
			text-indent: 20px;
}

.dashboard {
		border-bottom: solid 1px #ccc;
	margin-bottom: 10px;
	
}

ul.key {
	
	@include span-columns(6 omega, 12);
	
	
		li {
		@include float-left;
		display: inline-block;
		padding: 30px 30px 30px 10px; 
		}
		
		
		& :nth-child(2) {
			@include awardkey(url(images/icons/goldenglobe.png));
		}
		
		& :nth-child(3) {
			@include awardkey(url(images/icons/bafta.png));
		}
		& :nth-child(4) {
			@include awardkey(url(images/icons/oscar.png));
		}
		
	
	
}



h1 {
	 @include span-columns(6);
	
}

.award {
	cursor: pointer;
}

.info {
	display: none;
	width: 150px;
	height: auto;
	background-color: white;
	padding: 10px;
	z-index: 1000;
	position: relative;
	left: -100px;
	@include box-shadow();
	@include border-radius(2px);
	

	h2 {
		text-align: center;
		padding-bottom: 5px;
		padding-top: 5px;
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
		margin-bottom: 5px;
		line-height: 1em;

	}
	
	h3 {
		text-align: center;
		margin-bottom: 3px;

	}
	
	h4 {
		text-align: center;
	}
}

ul.toggles {
	@include span-columns(6, 12);
	
	li a {
		background-color: $red;
		color: $white;
		margin-right: 5px;
		font-weight: bold;
		display: inline-block;
		@include float-left;
		padding: 10px;
		margin-top: 20px;
		
		&:hover {
			background-color: lighten($red, 5%);
			
		}
				
	}
	
}