/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/includes/_filmstyle.scss */
html {
  background: white;
}

/* line 26, ../sass/includes/_filmstyle.scss */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* line 30, ../sass/includes/_filmstyle.scss */
h1 {
  font-size: 33px;
  margin-bottom: 20px;
}

/* line 33, ../sass/includes/_filmstyle.scss */
h2 {
  font-size: 18px;
}

/* line 34, ../sass/includes/_filmstyle.scss */
h3 {
  font-size: 14px;
}

/* line 35, ../sass/includes/_filmstyle.scss */
h4 {
  font-size: 12px;
}

/* line 36, ../sass/includes/_filmstyle.scss */
h5 {
  font-size: 10px;
}

/* line 37, ../sass/includes/_filmstyle.scss */
h6 {
  font-size: 8px;
}

/* line 39, ../sass/includes/_filmstyle.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 46, ../sass/includes/_filmstyle.scss */
.wrapper {
  *zoom: 1;
  width: 920px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 55, ../sass/includes/_filmstyle.scss */
.row {
  width: 100%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
  min-height: 55px;
}
/* line 59, ../sass/includes/_filmstyle.scss */
.row > p {
  background-color: #f3f3f3;
  padding: 20px;
}
/* line 65, ../sass/includes/_filmstyle.scss */
.row h2.leftcol {
  width: 15.66265%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}

/* line 73, ../sass/includes/_filmstyle.scss */
.rightcol {
  width: 83.13253%;
  float: right;
  margin-right: 0;
  *margin-left: -10px;
  display: inline;
}
/* line 78, ../sass/includes/_filmstyle.scss */
.rightcol li {
  display: inline;
  float: left;
  margin-right: 8px;
  margin-bottom: 10px;
  display: inline-block;
  width: 19px;
  height: 45px;
  z-index: -2000;
}
/* line 92, ../sass/includes/_filmstyle.scss */
.rightcol div:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 98, ../sass/includes/_filmstyle.scss */
.rightcol div.bafta {
  width: 100%;
  height: 100%;
  background: url(images/icons/bafta.png);
}
/* line 104, ../sass/includes/_filmstyle.scss */
.rightcol div.bafta.win {
  background: url(images/icons/baftawin.png);
}
/* line 111, ../sass/includes/_filmstyle.scss */
.rightcol div.goldenglobe {
  width: 100%;
  height: 100%;
  background: url(images/icons/goldenglobe.png);
}
/* line 116, ../sass/includes/_filmstyle.scss */
.rightcol div.goldenglobe.win {
  background: url(images/icons/goldenglobewin.png);
}
/* line 123, ../sass/includes/_filmstyle.scss */
.rightcol div.oscar {
  width: 100%;
  height: 100%;
  background: url(images/icons/oscar.png);
}
/* line 128, ../sass/includes/_filmstyle.scss */
.rightcol div.oscar.win {
  background: url(images/icons/oscarwin.png);
}

/* line 149, ../sass/includes/_filmstyle.scss */
.dashboard {
  border-bottom: solid 1px #ccc;
  margin-bottom: 10px;
}

/* line 155, ../sass/includes/_filmstyle.scss */
ul.key {
  width: 49.39759%;
  float: right;
  margin-right: 0;
  *margin-left: -10px;
  display: inline;
}
/* line 160, ../sass/includes/_filmstyle.scss */
ul.key li {
  display: inline;
  float: left;
  display: inline-block;
  padding: 30px 30px 30px 10px;
}
/* line 167, ../sass/includes/_filmstyle.scss */
ul.key :nth-child(2) {
  background: url(images/icons/goldenglobe.png);
  background-repeat: no-repeat;
  background-position: left center;
  text-indent: 20px;
}
/* line 171, ../sass/includes/_filmstyle.scss */
ul.key :nth-child(3) {
  background: url(images/icons/bafta.png);
  background-repeat: no-repeat;
  background-position: left center;
  text-indent: 20px;
}
/* line 174, ../sass/includes/_filmstyle.scss */
ul.key :nth-child(4) {
  background: url(images/icons/oscar.png);
  background-repeat: no-repeat;
  background-position: left center;
  text-indent: 20px;
}

/* line 184, ../sass/includes/_filmstyle.scss */
h1 {
  width: 49.39759%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}

/* line 189, ../sass/includes/_filmstyle.scss */
.award {
  cursor: pointer;
}

/* line 193, ../sass/includes/_filmstyle.scss */
.info {
  display: none;
  width: 150px;
  height: auto;
  background-color: white;
  padding: 10px;
  z-index: 1000;
  position: relative;
  left: -100px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 206, ../sass/includes/_filmstyle.scss */
.info h2 {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-bottom: 5px;
  line-height: 1em;
}
/* line 217, ../sass/includes/_filmstyle.scss */
.info h3 {
  text-align: center;
  margin-bottom: 3px;
}
/* line 223, ../sass/includes/_filmstyle.scss */
.info h4 {
  text-align: center;
}

/* line 228, ../sass/includes/_filmstyle.scss */
ul.toggles {
  width: 49.39759%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 231, ../sass/includes/_filmstyle.scss */
ul.toggles li a {
  background-color: #bb1a00;
  color: white;
  margin-right: 5px;
  font-weight: bold;
  display: inline-block;
  display: inline;
  float: left;
  padding: 10px;
  margin-top: 20px;
}
/* line 241, ../sass/includes/_filmstyle.scss */
ul.toggles li a:hover {
  background-color: #d41e00;
}
